@charset "utf-8";


/**********************************어바웃 상단 비디오 배너**********************************/
.about_ban {position: relative;height: 50rem;}
/* .about_ban .txt_area { position: absolute; top: 50%; left: 0; right: 0; z-index: 1; transform: translateY(-50%); color: #fff;}
.about_ban .txt_area h2{font-size: 5.6rem; font-weight: 500;}
.about_ban .txt_area p{font-size: 3.4rem; font-weight:500;} */

.about_ban .video_area::before {
  content: ""; /* 가상 요소를 생성합니다. */
  background-color: #000; /* 배경색을 설정합니다. */
  opacity: 0.3;
  position: absolute; /* 가상 요소를 비디오 컨테이너 내부에 절대적으로 배치합니다. */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about_ban .video_area video {width: 100%; height: 50rem; object-fit: cover;}





/**********************************CEO 소개**********************************/
.about_ceo{}
.about_ceo .ceo_area{display: flex; /*align-items:center;*/ justify-content: space-between; align-items:flex-end;}
.about_ceo .ceo_area .title_area{width: 39%;}
.about_ceo .ceo_area .title_area h3{font-size: 2.4rem; font-weight: normal;}
.about_ceo .ceo_area .title_area p{font-size: 4.0rem; font-weight: bold;margin-bottom:5.0rem;}

.ceo_area .video_area{/*width: 50%;*/width:745px; height: auto; margin-left:4%;}
.ceo_area .video_area video {width: 100%; /*object-fit: cover;*/}





/**********************************회사 연혁**********************************/
/*히스토리 폰트*/
.bebas-neue-regular {font-family: "Bebas Neue", sans-serif;font-weight: 400; font-style: normal;}

#history_wrap{position: relative; max-width: 90.0rem; margin:0 auto;}
#history_wrap .fixedNum { line-height: 1; display: block;  letter-spacing:10px;}

.fixedBox { top: 40vh; left: 0; float: left; } 
.fixedBox.sticky { position: sticky;}
.year { font-size:18.0rem; line-height: 1;}

#histories { width: calc(100% - 20.0rem); display: flex; flex-wrap: wrap; } 

#histories .year-flexbox { display: flex; width:100%; border-bottom: 1px solid #dedede; padding:10.0rem 0rem; align-items: center;} 
#histories .year-flexbox .year { padding-right:10.0rem; font-family: "Bebas Neue", sans-serif; letter-spacing:10px;} 
#histories .year-flexbox:last-child { padding-bottom: 0; border-bottom: 0;} 

.history li { display: flex; align-items: baseline; } 
.history strong{font-family: "Noto Sans KR", sans-serif; font-size: 1.8rem; line-height: 3; text-align: left; color: #999999; } 
.history .contents { margin-left: 35px; font-size: 1.8rem; text-align: left; color: #000; } 

.history.mo{display:none;}






/**********************************어바웃 하단 배너**********************************/
.about_ban2 {position: relative;height: 50rem; text-align: center;}
.about_ban2 .txt_area { position: absolute; top: 50%; left: 0; right: 0; z-index: 1; transform: translateY(-50%); color: #fff;}
.about_ban2 .txt_area h2{font-size: 4.0rem;}
.about_ban2 .txt_area p{font-size: 2.4rem; margin-top:3.0rem;}
.about_ban2 .txt_area a{color: #fff;}
.about_ban2 .img_area::before {content: ""; background-color: #000;  opacity: 0.5; width: 100%;height: 100%;
  position: absolute; top: 0; left: 0;
}
.about_ban2 .img_area img {width: 100%; height: 50rem; object-fit: cover;}






/**********************************미디어쿼리**********************************/

@media all and (max-width: 1280px){/* 1rem = 9px */
  .history strong {font-size: 2rem;} 
  .history .contents {font-size: 2rem;} 
}


@media only screen and (max-width:1210px) {
  /* CEO 소개 */
  .ceo_area{flex-direction: column;}
  .about_ceo .ceo_area .title_area{width:100%; margin-bottom:5.0rem;}
  .ceo_area .video_area{width:100%;margin-left:0;}
}

@media all and (max-width: 768px) {
  #history_wrap .fixedNum {text-align: right;}
  
  .year {width: 50%;}
  .fixedBox.mobile-sticky { position: sticky;}
  #histories { width:50%;} 
  #histories .year-flexbox {flex-direction: column; align-items: flex-start;} 
  #histories .year-flexbox .year { padding-right:0;}

  #histories_mo{
  margin-bottom: 100px;
  }
  .history.mo{display: block; width: 50%; float:right;}
  .history.pc{display: none;}

  .history li {flex-direction: column;} 
  .history strong {line-height: 3; text-align: left; } 
  .history .contents { margin-left: 0; text-align: left; }
  .about_ban2{height: 430px;}
  .about_ban2 .txt_area h2{font-size: 32px;}
  .about_ban2 .txt_area a{font-size: 20px;}
  .about_ban2 .img_area img{height:430px;}
}


@media all and (max-width: 640px){}



