@charset "utf-8";

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/**********************************어바웃 상단 비디오 배너**********************************/
.about_ban {position: relative;height: 50rem;}


.about_ban .txt_area { position: absolute; top: 50%; left: 0; right: 0; z-index: 1; transform: translateY(-50%); color: #fff;}
.about_ban .txt_area h2{font-size: 5.6rem; font-weight: 500;}
.about_ban .txt_area p{font-size: 3.4rem; font-weight:500;}

.about_ban .video_area::before {
  content: ""; /* 가상 요소를 생성합니다. */
  background-color: #000; /* 배경색을 설정합니다. */
  opacity: 0.3;
  position: absolute; /* 가상 요소를 비디오 컨테이너 내부에 절대적으로 배치합니다. */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about_ban .video_area video {
  width: 100%; height: 50rem; object-fit: cover;
}


/**********************************CEO 소개**********************************/
.about_ceo{}
.about_ceo .ceo_area{display: flex;align-items:center; justify-content: space-between;align-items:flex-end;}
.about_ceo .ceo_area .title_area{width: 40%;}
.about_ceo .ceo_area .title_area h3{font-size: 2.4rem; font-weight: normal;}
.about_ceo .ceo_area .title_area p{font-size: 4.0rem; font-weight: bold;margin-bottom:5.0rem;}

.ceo_area .video_area{width: 50%; height: auto;}
.ceo_area .video_area video {width: 100%; object-fit: cover;}


/**********************************회사 연혁**********************************/
.history_wrap{position: relative; max-width: 1120px; margin:0 auto;}
#histories { width: calc(100% - 20.0rem); display: flex; flex-wrap: wrap; } 

.fixedBox { top: 40vh; left: 0; float: left; } 
.fixedBox.sticky { position: sticky;} 
#histories .year-flexbox { display: flex; width:100%; border-bottom: 1px solid #dedede; padding:100px 0; align-items: center;} 
#histories .year-flexbox .year { padding-right:10.0rem;font-family: "Bebas Neue", sans-serif; } 
.year { font-size:18.0rem; font-weight: 400; } 
.visible.fixedNum { position: fixed; bottom: 0; left: auto; font-family: "Bebas Neue", sans-serif;} 
 .absolute.fixedNum { position: absolute; bottom: 197px; } 
#histories .year-flexbox:last-child { padding-bottom: 0; border-bottom: 0; } 
#histories .history { margin-bottom: 200px; } 
#histories .history .ico { padding-bottom: 15px; display: inline-block; padding-right: 15px; width:130px; } 
#histories .history .ico.nerdy { width:100px; } 
#histories .history .ico img { width:100%; vertical-align: middle; } 
#histories .history:last-child { margin-bottom: 0; } 
#histories .history strong { float: left; width: 53px; object-fit: contain; font-family: "Noto Sans KR", sans-serif; font-size: 18px; font-weight: 600; font-stretch: normal; font-style: normal; line-height: 3; letter-spacing: normal; text-align: left; color: #999999; } 
#histories .history .contents { margin-left: 38px;width: calc(100% - 53px);object-fit: contain; font-size: 18px; font-weight: 400; font-stretch: normal; font-style: normal; line-height: 1.5; text-align: left; color: #000; } 
.history li { display: flex; clear: both; align-items: baseline; } 
.history li:after { display: block; clear: both; content: ""; } 
#history_wrap { position: relative; max-width: 1120px; margin: 0 auto; } 
#history_wrap .fixedNum { display: block; } 
#history_wrap #year { transition: 0.5s; position: absolute; object-fit: contain; font-size: 220px; font-weight: 400; line-height: 0.48; letter-spacing: -0.01em; text-align: right; color: #000; top: 0; left: 0; } 
#content .container { transform: none !important; } 
#history_wrap #year.fixed { position: fixed; top: 170px; left: auto; } 
#history_wrap #year.absolute { position: absolute; top: auto; bottom: 350px; } 
#history_wrap #year .letter { float: left; } 




@media all and (max-width: 1280px){

.sc-candidate .content-wrap, #history_wrap { max-width: 90%; } 

#histories .history strong { width:50px; } 
#history_wrap #year { font-size:180px; } 
.sc-brand-slide { flex-direction: column; } 
 .sc-brand-slide .img-slide-wrap { padding: 40px 0 30px; } 
.sc-brand-slide .txt, .sc-brand-slide .img-slide-wrap { width: 100%; } 
.sc-brand-slide .swiper-slide { width:27%; height:400px; } 
.sc-brand-slide .swiper-slide-active { width:50%; } 
.sc-candidate .content-wrap .flex-box .txt-box { width: calc(100% - 40% ); } 
.sc-candidate .content-wrap .flex-box .img-box { width: 40%; } 
.list-tit { font-size: 16px; } 
.list-desc { font-size:14px; line-height: 25px; } 
.sc-candidate .content-wrap .tit-box { padding-bottom: 30px; } 
.sc-candidate .content-wrap .tit-box .tit { font-size:30px; } 
.sc-candidate .content-wrap .tit-box .desc { font-size:18px; } 
 }
@media all and (max-width: 1024px) {
 }
 
@media all and (max-width: 900px){
 .sc-inform-top .title-wrap { font-size:60px; } 
.sc-inform-intro { padding: 27% 5% 10%; } 
.sc-inform-intro .txt-wrap { font-size: 60px; } 
.sc-inform-intro .img-wrap .img-box.img01, .sc-inform-intro .img-wrap .img-box.img01 img { width: max(16vw, 300px); } 
.sc-inform-intro .img-wrap .img-box.img02, .sc-inform-intro .img-wrap .img-box.img02 img { width: max(17.416667vw, 180px); } 
.sc-inform-intro .img-wrap .img-box.img03 { margin: 9px 0 0 -24px; } 
 }
@media all and (max-width: 768px) {.pc { display: none!important; } 
.history.pc { display: none; } 
#main .mobile { display: block; padding-right:20px; } 
.sc-inform-top .main-txt { font-size: 46px; } 
.sc-inform-top .title-wrap { font-size: 46px; top:auto; bottom: 0; flex-direction: column; } 
.sc-inform-top .title-wrap .line-txt1 { padding-left: 10%; } 
.sc-inform-top .title-wrap .line-txt2 { text-align: right; padding-right: 7%; } 
.sc-inform-top .split-wrap { margin-left: -11px; } 
.sc-inform-intro { padding: 60% 0 15%; } 
#main .sc-inform-intro.mobile{    padding-right: 0;}
#main .sc-inform-intro .txt-effects{          padding:0 16px 0 24px;
    box-sizing: border-box;}
.sc-inform-intro .split-wrap { margin-left: -15px; font-size: 39px; } 
.sc-inform-intro .img-wrap { position: relative; height: auto; } 
.sc-inform-intro .img-wrap .img-box.img01, .sc-inform-intro .img-wrap .img-box.img01 img { width:70vw; margin: 25px auto; } 
.sc-inform-intro .img-wrap .img-box:nth-child(1) .txt { width:120%; text-align:center; font-size:16px; line-height: 24px; } 
.sc-inform-intro .img-wrap .img-box.img02 { position:static; width: 42vw; float: right; margin-right: 5%; margin-top: -32%; } 
.sc-inform-intro .img-wrap .img-box.img02 img { width: 42vw; } 
.sc-inform-intro .img-wrap .img-box.img03 { position:static; width:52vw; margin-left: 5%; } 
.sc-inform-intro .img-wrap .img-box.img03 img { width:52vw; } 
.sc-inform-intro .img-wrap .txt { width:100vw; font-size: 16px; text-align:center; line-height: 150%;        padding: 0 16px; } 
.sc-inform-intro .img-wrap .txt.txt02 { padding: 28% 16px 22%; } 
.sc-inform-intro .img-wrap .txt br,
        .sc-inform-intro .img-wrap .txt.txt02 br{display:none;}
        
.sc-inform-intro .txt-wrap { margin-bottom: 30px; } 
.sc-inform-intro .txt-wrap .split-wrap-mobile { margin-bottom: -20px; } 
.sc-brand-slide { flex-direction: column; padding: 100px 0; } 
.sc-brand-slide .img-slide-wrap { width:100%; } 
.sc-brand-slide .swiper-slide-active { } 
.sc-brand-slide .btn-wrap.mobile { display: flex!important; justify-content: space-evenly; padding-top: 17px; } 
.sc-brand-slide .swiper-slide { height: 55vh; } 
.sc-brand-slide .swiper-button-presssv { margin-right: 42%; } 
.sc-brand-slide .txt { width:100%; padding-left: 0; padding: 0 5%; } 
.sc-brand-slide .txt .brand-tit { font-size:30px; padding-bottom: 13px; } 
.sc-brand-slide .txt .brand-desc { font-size:14px; line-height: 25px; } 
.sc-brand-slide .brand_wrap { flex-direction: column } 
.sc-brand-slide .brand_link_wrap { width: calc(100% - 20px); left: 20px; bottom: 20px; } 
.sc-brand-slide .brand_link_wrap .brand_sub { font-size:12px; } 
.sc-brand-slide .brand_wrap .brand_tit { font-size:20px; bottom: 20px; padding-bottom: 20px; } 
.sc-brand-slide .brand_wrap .brand_desc { font-size:12px; text-align: right; padding-right: 18px; } 
.sc-brand-slide .swiper-button-prev { background: url(../img/brand_left.png) no-repeat center; background-size: cover; } 
.sc-brand-slide .swiper-button-next { background: url(../img/brand_right.png) no-repeat center; background-size: cover; } 
.sc-history .page_title { padding-bottom: 40px; } 
.sc-history .page_title .category { padding:80px 0 10px; font-size: 30px; line-height: 40px; } 
.sc-history .page_title .sub_tit { font-size:18px; } 
.sc-candidate .content-wrap, #history_wrap { max-width: 100%; } 
#histories .year-flexbox { width:100%; padding: 40px 0 50px; flex-direction: column; } 
.history.mobile { width:50%; float:right; padding-right:20px; padding-bottom:100px; } 
.history.mobile strong { object-fit: contain; font-size: 14px; font-weight: 600; font-stretch: normal; font-style: normal; line-height: 44px; letter-spacing: normal; text-align: left; color: #999999; } 
.history.mobile .contents { font-size: 14px; font-weight: 500; margin-left: 4px; line-height: 150%; text-align: left; color: #000; width: 100%; word-break: keep-all; } 
#history_wrap { padding:20px; } 
#history_wrap .year { object-fit: contain; width: 50%; font-size: 125px; font-weight: 400; font-stretch: normal; font-style: normal; line-height: 1; letter-spacing: normal; text-align: center; color: #000; } 
 #histories { width: 50%; } 
 #histories .year-flexbox .year { padding-right: 0; text-align: left; } 

 #histories .history { margin-bottom: 74px; } 
/* #histories .year-flexbox:last-child { padding-bottom: 100px; } */
 #history_wrap .fixedNum { text-align: right; } 
 #histories .history .ico.nerdy { width:46%; } 
 .history .ico { width: 130px; padding: 10px 5px 10px; } 
 #histories .history .ico.size2 { width:100px; } 
 #histories .history .ico.size { width:50px; padding: 0; } 
 .history .ico img { width:100%; vertical-align: middle; } 
 #histories .history strong { object-fit: contain; font-size: 14px; font-weight: 600; font-stretch: normal; font-style: normal; line-height: 44px; letter-spacing: normal; text-align: left; } 
 #histories .history .contents { font-size: 14px; margin-left: 4px; text-align: left; color: #000; width: 100%; word-break: keep-all; } 
 /* #histories .history:last-child { padding-bottom: 100px; } */
 .history li { flex-direction: column; } 
 
.sc-candidate { padding:100px 0; } 
.sc-candidate .content-wrap { padding:0 20px; } 
.sc-candidate .content-wrap .flex-box { flex-direction: column; padding-top: 0px; } 
.sc-candidate .content-wrap .flex-box .txt-box { width:100%; } 
.sc-candidate .content-wrap .flex-box .img-box { width:100%; margin-left:0; } 
.sc-candidate .content-wrap .flex-box .img-box img { width:100%; } 
.list-tit { line-height: 23px; } 
.list-desc { padding: 0; } 
.list-desc img { padding:20px 0; } 
 #myImg { display: none; } 
 }
@media all and (max-width: 640px){
 .sc-inform-intro .img-wrap { position: relative; } 
.sc-brand-slide .swiper-slide { height: 48vh; } 
 }
.split-wrap { display: inline-block; position: relative; margin-left: -1.7vw; overflow: hidden; } 

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after, .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after { content: none!important; } 




/**********************************어바웃 하단 배너**********************************/
.about_ban2 {position: relative;height: 50rem; text-align: center;}

.about_ban2 .txt_area { position: absolute; top: 50%; left: 0; right: 0; z-index: 1; transform: translateY(-50%); color: #fff;}
.about_ban2 .txt_area h2{font-size: 4.0rem;}
.about_ban2 .txt_area p{font-size: 2.4rem; margin-top:3.0rem;}
.about_ban2 .txt_area a{color: #fff;}

.about_ban2 .img_area::before {
  content: ""; /* 가상 요소를 생성합니다. */
  background-color: #000; /* 배경색을 설정합니다. */
  opacity: 0.5;
  position: absolute; /* 가상 요소를 비디오 컨테이너 내부에 절대적으로 배치합니다. */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about_ban2 .img_area img {width: 100%; height: 50rem; object-fit: cover;}
