@charset "utf-8";

/* RESET */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input,
select,
button 
{margin: 0; padding: 0; border: 0; vertical-align: top; background: transparent; font-style: normal; letter-spacing: 0; box-sizing: border-box; -webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box; word-break: keep-all;}


button {border: none;}
caption {overflow: hidden; visibility: hidden; width: 0; height: 0; font-size: 1px;}
img {border: none;vertical-align: top;}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {display: block;}
nav,ul,ol,li {list-style: none;}
a {text-decoration: none;}
h1,h2,h3,h4,h5,h6 { margin: 0; padding: 0;}

body{overflow-x: hidden;}

* {font-family: "Montserrat", "Noto Sans KR", Helvetica, Arial, sans-serif; line-height: 1.5;}